# ignore venv
venv/

# ignore pycharm extras
.idea/

# ignore pycaches
agents/__pycache__/
environment/__pycache__/
exploration_strategies/__pycache__/
replay_buffer/__pycache__/
*.pyc

#ignore output data
experiments/demo_to_test_DDPG/output/
experiments/demo_to_test_DQN/output/

# ignore additional design documentation folder
design_documentation/

# ignore external nn_builder
nn_builder/